USE [master]
GO
/****** Object:  Database [chinchon]    Script Date: 07-Nov-18 10:43:00 PM ******/
CREATE DATABASE [chinchon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chinchon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\chinchon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'chinchon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\chinchon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chinchon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chinchon]
GO
/****** Object:  Table [dbo].[carta]    Script Date: 07-Nov-18 10:43:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [int] NOT NULL,
	[palo] [int] NOT NULL,
 CONSTRAINT [PK_carta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paloCarta]    Script Date: 07-Nov-18 10:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paloCarta](
	[id] [int] NOT NULL,
	[paloNombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_palo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 07-Nov-18 10:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_user] [int] NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[pass] [varchar](50) NOT NULL,
	[puntos] [int] NOT NULL,
	[partidas_jugadas] [int] NOT NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[actualizar_puntos_partidas]    Script Date: 07-Nov-18 10:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[actualizar_puntos_partidas]
	@id int, @puntos int
as
begin
declare @puntosAux int;
declare @partidasJugadas int;
	set @puntosAux = (select puntos from usuario where id_user=@id);
	set @puntosAux = @puntosAux + @puntos;

	set @partidasJugadas = (select partidas_jugadas from usuario where id_user=@id);
	set @partidasJugadas = @partidasJugadas  + 1;

	update usuario set puntos=@puntosAux, partidas_jugadas=@partidasJugadas where id_user=@id;
end
GO
/****** Object:  StoredProcedure [dbo].[insertar_usuario]    Script Date: 07-Nov-18 10:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_usuario]
@usuario varchar(50),@pass varchar(50)
as
begin

declare @id int

set @id = ISNULL((select max(id_user) from usuario),0) +1 

insert into usuario  (id_user,pass, usuario,puntos,partidas_jugadas) 
values (@id, @usuario,@pass,0,0)
end

GO
/****** Object:  StoredProcedure [dbo].[listar_usuarios]    Script Date: 07-Nov-18 10:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[listar_usuarios]
as
begin
select id_user , usuario,puntos,partidas_jugadas from usuario
end
GO
/****** Object:  StoredProcedure [dbo].[listarCartas]    Script Date: 07-Nov-18 10:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[listarCartas]

as
begin
select carta.id , carta.numero , paloCarta.paloNombre from carta join paloCarta on paloCarta.id = carta.palo 

end
GO
/****** Object:  StoredProcedure [dbo].[loguear_usuario]    Script Date: 07-Nov-18 10:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[loguear_usuario]
@usuario varchar(50),@pass varchar(50)
as
begin
select id_user , usuario,puntos,partidas_jugadas 
from usuario
where usuario=@usuario and pass=@pass
end
GO
USE [master]
GO
